*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

body{
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

header{
    width: 100%;
    position: center;
    top: 0;
    left: 0;
}

.container{
    width: 50vw;
    max-width: 117rem;
    margin: 0 auto;
    padding: 0 0;
}

.menu-icons{
    color: #161640;
    font-size: 4rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1500;
    display: none;
}

nav{
    display: flex;
    align-items: center;
    width: 100vh;
    height: 8rem;
    border-bottom: 1px solid #161640;
    
}

.logo{
    width:5rem;
    height:5rem;
    background-color:#161640;
    display:flex;
    border-radius: 100%;
    margin-right: 5rem;
    background-image:url('Pics/EBYTE.png');
}

.logo i{
    margin:auto;
    font-size: 3rem;
    
}

.nav-list{
    display: flex;
    width: 100%;
    align-items: center;
}

.nav-list > li{
    line-height: 8rem;
    position: relative;
}

.sub-menu li{
    line-height: 4rem;
}

.nav-list a{
    display: block;
    color: #161640;
    padding: 0 1.5rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    transition: color 650ms;
}

.nav-list a:hover{
   color:#39E6BA;
}

.btn{
    padding: 1.3rem;
    display: inline-block;
    background-color: #39E6BA;
    border: 2px solid #39E6BA;
    border-radius: 5rem;
    transition: background-color 650ms;
}

.btn:hover{
    color:#39E6BA;
    background-color:#161640;
    border: 2px solid #161640;
}

.sub-menu{
    width: 20rem;
    display: block;
    position: absolute;
    border-top: 3px solid #161640;
    background-color: rgba(57, 230, 187, 0.336);
    z-index: 100;
    top: 16rem;
    opacity: 0;
    visibility: hidden;
    transition: all 650ms ease;
}

.sub-menu::before{
    content: "";
    position: absolute;
    top: -2.5rem;
    left: 3rem;
    border: 1.2rem solid transparent;
    border-bottom-color: #161640;
}

.nav-list li:hover > .sub-menu{
    top: 8rem;
    opacity: 1;
    visibility: visible;
}

li.move-right{
    margin: auto 0 auto auto; 
    line-height: initial;
}








.text{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #eee;
    text-align: center;
}

.text h1{
    font-size: 8rem;
    margin: 2rem 0;
    font-family: 'Blastimo', sans-serif;
}

.text h2{
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 300;
}

